nav {
  animation: run linear 0.7s;
}

@keyframes run {
  0% {
    top: -60px;
  }
  100% {
    top: 0;
    transform: scalez(1);
  }
}

.left-home #st {
  position: relative;
  animation: text linear 1s;
  transition: all ease 2s;
}

@keyframes text {
  0% {
    top: -100px;
    overflow: hidden;
    transition: all ease 2s;
  }
  100% {
    opacity: 100;
    top: 0;
    transition: all ease 2s;
    transform: scalez(1);
  }
}

.left-home #rt {
  position: relative;
  animation: name linear 1s;
  transition: all ease 2s;
}

@keyframes name {
  0% {
    left: -350px;
    overflow: hidden;
    transition: all ease 2s;
  }
  100% {
    opacity: 100;
    left: 0;
    transition: all ease 2s;
    transform: scalez(1);
  }
}
.right-home .profile {
  position: relative;
  animation: profile linear 0.5s;
  transition: all ease 2s;
}

@keyframes profile {
  0% {
    transform: scale(0);
    overflow: hidden;
    transition: all ease 2s;
  }
  100% {
    opacity: 100;
    right: 0;
    transition: all ease 2s;
    transform: scalez(1);
  }
}

.sidebar{
  animation: sidebar linear 0.5s;
  transition: all ease 2s;
}

@keyframes sidebar {
   0%{
    left: -150px;
   }
   100%{
    left: 0px;
   }

}
