@media (max-width: 450px) {
  /* Container adjustments */
  .container .home {
    flex-direction: column-reverse;
    padding-bottom: 40%;
    align-items: center;
    height: auto;
  }

  /* Navigation adjustments */
  nav {
    height: 50px;
    padding: 0 10px;
    position: fixed;
    z-index: 999999;
  }
  nav .logo {
    min-width: 30vw;
  }
  nav .logo h3 {
    font-size: 18px;
    padding-left: 5px;
  }
  nav .logo i {
    font-size: 30px;
  }
  nav .nav-list {
    font-size: 22px;
    padding-right: 5px;
    justify-content: end;
  }
  nav .nav-list i {
    color: white;
    display: block;
  }
  nav a {
    padding: 5px;
    display: none;
    color: #fffff0;
  }
  .nav-list .contact {
    height: 30px;
    width: 80px;
    font-size: 12px;
    display: none;
  }

  /* Home section adjustments */
  .home .right-home,
  .home .left-home {
    max-height: unset;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 1;
  }
  .home .left-home {
    height: auto;
    margin-top: 10%;
    flex-direction: column;
  }
  .home .right-home .profile {
    width: 40vw;
    height: 40vw;
    box-shadow: 1px 1px 20px crimson, -1px -1px 20px crimson;
  }
  .right-home .profile img {
    height: 100%;
  }
  .home .left-home h1 {
    font-size: 6vw;
    text-align: center;
    letter-spacing: 5px;
  }
  .home .left-home h3 {
    font-size: 4vw;
    text-align: center;
    line-height: 5vh;
    letter-spacing: 2px;
  }
  .home .left-home .media {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  .home .left-home .media a {
    font-size: 20px;
    margin: 5px;
    width: 10vmin;
    height: 10vmin;
    align-items: center;
    border-radius: 25px;
  }
  .media a:hover {
    background-color: crimson;
    color: white;
  }
  .sidebar{
    position: absolute;
    height: 100vh;
    width: 150px;
    background-color: #dc143cef;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10vh 0;
    padding-bottom: 50vh;
    text-align: center;
    margin-top: -10px;
    z-index: 4;
    display: none;
  }
  .sidebar a{
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
    align-items: center;
    width: 90%;
    text-decoration: none;
     color: #ffff;
  }
  .sidebar button{
    width: 70%;
    height: 30px;
    border: none;
    margin: auto;
    border-radius: 35px;
  }
  .sidebar i{
    margin: 10px;
    font-size: 22px;
  }
}
