*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
.container{
    height: 100%;
    width: 100%;
    background-color: #aaa;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 60px;
    width: 100vw;
    background-color: crimson;
}
nav .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20vw;
}
nav .logo i{
    font-size: 40px;
    color: white;
}

.logo h3{
    font-size: 25px;
    color: white;
    padding-left:10px ;
}
nav .nav-list{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 40vw;
    overflow: hidden;
    padding-right: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 8px;

}
nav a:hover{
    color: black;
    transition: all ease 0.5s;
}

.nav-list .contact{
    border-radius: 25px;
    height: 35px;
    width: 90px;
    color: black;
    border: none;
    overflow: hidden;
    padding: 5px 5px;
}
.contact:hover{
    background-color: black;
    color: white;
    transition: all ease-in-out 0.7s;
}

/* nav section end here */
.container .home{
    margin-top: 64px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0% 10%;
    padding-top: 10%;
}
.home .right-home{
    min-width: 250px;
    max-height: 250px;
    display: flex;
    justify-content: center;
}
.home .left-home{
    min-width: 250px;
    max-height: 250PX;
    height: 300px;
}
.home .right-home .profile{
    display: flex;
    justify-content: center;
    width: 20vmax;
    height: 20vmax;
    box-shadow: 1px 1px 55px crimson, -1px -1px 55px crimson;
    border-radius: 200px;
    object-fit: contain;
    overflow: hidden;

}
.right-home .profile img{
height: 100%;
}

/* left side home */

.home .left-home h1{
    font-size: 4vmax;
    text-align: left;
    position: relative;
    top: 10%;
    color: black;
}
.home .left-home h3{
    font-size: 2vmax;
    line-height: 1.2cm;
    position: relative;
    top: 10%;
}
.home .left-home span{
    color:#FF4500;
}
.home .left-home strong{
    color: white;
}
.home .left-home button{
    border: none;
    border-radius: 20px;
    height: 40px;
    min-width:60px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: crimson;
    color: #fff;
    margin-top: 10%;
    margin-left: 20px;
}